<form method="post" action="{{ path('supprimer_participant', {'id': participant.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce participant ?');">
    <input type="hidden" name="_method" value="supprimer">
    <button class="btn btn-danger">Supprimer</button>
</form>